@import '../variables.scss';
@import '../animate/animate.scss';

.musicCard {
  position: relative;
  margin: 1em 0;
}
.musicCard .deleteIt {
  position: absolute;
  z-index: 15;
  top: 15px;
  right: 25px;
  opacity: 0;
  transition: $transition-base;
  font-size: 1.2em;
  cursor: pointer
}

.musicCard:hover .deleteIt {
  opacity: 1
}

.musicCard .deleteIt:hover {
  color: $brand-primary;

}

.musicCard .boxer {
  -webkit-box-shadow: 0 0 20px 0 rgba($black, 75);
  box-shadow: 0 0 20px 0 rgba($black, 75);
  position: relative;
  overflow: hidden;
  mix-blend-mode: darken;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.musicCard .boxer a {
  width: 100%;
  height: 100%;
}

.musicCard .boxer:hover img {
  transform: scale(1.1);
}

.musicCard .boxer:hover .btBoxer {
  opacity: 1 !important;
}

.musicCard .boxer a img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.musicCard .boxer .btBoxer {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba($black, .5);
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.musicCard .boxer .btBoxer .musicInfo {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.musicCard .boxer .btBoxer .musicInfo i.bigIco {
  display: inline-block;
  border: 1px solid;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 2em;
  margin-bottom: 1em;
}

.musicCard .musicInfo i:hover {
  background: $white;
  color: $brand-primary;
  border-color: $brand-primary;
}

.musicCard .boxer .btBoxer .musicInfo .trackName {
  display: block;
}

.musicCard .boxer.addIcon i {
  display: block;
  margin: auto;
  color: $brand-primary;
  transform: scale(1.5);
  font-size: 2em;
  transition: $transition-base;
  opacity: .6;
}

.musicCard .boxer.addIcon:hover i {
  font-size: 2.5em;
  opacity: 1;
}

.trackModalInfo li {
  font-weight: 200;
}

.trackModalInfo li strong {
  color: $gray-light
}
// -
// AddMusic
.addMusic form{
  display: inline-block;
}
.addMusic form .form-group {
  display: table-cell
}
.addMusic form .form-group input {
  margin: 0 1%;
}
.addMusic form .form-group:first-child input{
  margin-left: 0;
}
.addMusic form .form-group:last-child input{
  margin-right: 0;
}
.addMusic form .addMusicBt{
  color: $black;
  background: $brand-primary;
  transition: $transition-base;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 5% auto 0;
  padding: 2% 5%;
  cursor: pointer;
}
.addMusic form .addMusicBt:hover{
  color: $white;
  background: $black;
}
