@import './mixer.scss';
#root{
  position: relative;
  overflow: hidden;
}
.transition {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}
.delayedTransition {
  -webkit-transition: all 650ms ease-in-out,all 650ms ease-in-out;
  -moz-transition: all 650ms ease-in-out,all 650ms ease-in-out;
  transition: all 650ms ease-in-out,all 650ms ease-in-out;
}
